{% extends 'base.html' %}

{% block content %}
<h2>Ваша корзина</h2>

{% if items %}
    <table>
        <thead>
            <tr>
                <th>Книга</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Итого</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.book.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.book.price }}</td>
                    <td>{{ item.total_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><strong>Общая сумма: </strong>{{ total_price }}</p>
    <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Оформить заказ</button>
    </form>
{% else %}
    <p>Корзина пуста.</p>
{% endif %}
{% endblock %}