{% extends 'components/header.html' %}

{% block content %}

<h1>Ваша корзина</h1>
<table>
    <thead>
        <tr>
            <th>Книга</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.book.title }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.price }}</td>
                <td><a href="{% url 'remove_from_cart' order.id %}">Удалить</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p><strong>Общая стоимость: </strong>{{ total_price }}</p>
<a href="{% url 'add_to_cart' %}">Перейти к оформлению</a>
{% endblock %}