{% extends 'components/header.html' %}

{% block content %}
<h1>Книги</h1>
<ul>



    <div class="container mt-4">
        <div class="book-card">
            {% for book in books %}
            <div class="card">
                <img src="{{ book.cover_image.url }}" class="card-img-top" alt="Книга">
                <form method="get" action="{% url 'search' %}">
                 <input type="text" name="q" placeholder="Поиск по книгам...">
                 <button type="submit">Найти</button>
                </form>

                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p><strong>Цена:</strong> {{ book.price }}</p>
                    <a href="{% url 'book_detail' book.id %}">Подробнее</a>

                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</ul>
{% endblock %}

